<section class="campaign">
   <div class="campaign__container">
      <div class="campaign__block">
         <div class="campaign__video">
            <div class="campaign__video-player">
               <!-- <iframe width="100%" height="auto" src="https://www.youtube.com/embed/AWld1xsz_6w?si=xlUHKa_63C__Q8ER"
                  title="YouTube video player" frameborder="0"
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                  allowfullscreen></iframe> -->
               <div class="campaign__video-images _ibg">
                  <img src="../../images/video-1.webp" alt="Виде о нашем походе">
               </div>
            </div>
         </div>
      </div>
   </div>
</section>