<section class="campaign">
   <div class="campaign__container">
      <div class="campaign__media">
         <div class="campaign__pic">
            <img src="../../images/video-2.webp" alt="Фото гор">
         </div>
         <div class="campaign__video">
            <div class="campaign__pic">
               <img src="../../images/video-1.webp" alt="Фото гор">
            </div>
         </div>

      </div>
      <div class="campaign__content">

         <div class="_label-header">
            <span class="_label-header">о нашем походе</span>
            <h2 class="_label-title">Исследуйте все горные массивы мира вместе с нами</h2>
         </div>

         <div class="_label-text">
            Его корни уходят в один фрагмент классической латыни 45 года н.э., то есть более двух тысячелетий назад. Ричард МакКлинток, профессор латыни из колледжа Hampden-Sydney, штат Вирджиния, взял одно из самых странных слов в Lorem Ipsum, "consectetur"и занялся его поисками в классической латинской литературе.
         </div>

         <a href="#" class="btn">Программа тура</a>
      </div>
   </div>
</section>